<main class="main-contact">
    <form action="empty.html" autocomplete="off">
        <div class="container-all-contacto">
            <div class="container-contacto">
                <div class="container-contacto-one__input">
                    <div class="container-contacto-one__input-name">
                        <label for="nombre">Nombre:</label>
                        <div  class="container-contacto-one__input-name__details Div_Error">
                            <input id="nombre" autofocus placeholder="Nombre">
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="container-contacto-one__input-mail">
                        <label for="mail">E-mail</label>
                        <div class="container-contacto-one__input-mail__details Div_Error">
                            <input id="mail" placeholder="Jugueteria@email.com">
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="container-contacto-one__input-coment Div_Error">
                        <label for="comentario">Comentarios</label>
                        <div class="container-contacto-one__input-coment__details">
                            <textarea name="comentario" placeholder="Dejanos tus comentarios" id="comentario" cols="30" rows="10"></textarea>
                            <div class="error"></div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="buttons-contact">
            <input id= "btnEnviar" type="submit">
            <input id= "btnRestablecer" type="reset">
        </div>
    </div>
    </form>
</main>

<script src="../JS/_main-contacto.js"></script>
