
<main>        
    <div class="section-slider">
        <ul class="section-slider__list-image">
            <li class="section-slider__list-imagen-1">
                <img id="item-1" src="Img/Slider/_juegos-mesa.png" alt="Juegos de mesa">
            </li>
            <li  class="section-slider__list-image__item-2">
                <img id="item-2" src="Img/Slider/_uno.png" alt="Juego de cartas uno">
            </li>
            <li class="section-slider__list-image__item-3">
                <img id="item-3" src="Img/Slider/_funco.png" alt="Funco">
            </li>
        </ul>
        <ul class="section-slider__list-number">
            <li id="slider-1" class="section-slider__list-number__item-1"></li>
            <li id="slider-2" class="section-slider__list-number__item-2"></li>
            <li id="slider-3" class="section-slider__list-number__item-3"></li>
        </ul>
    </div>
    <section class="section-cards">
        <header class="section-cards__header">                    
            <h1> Elige en que universo quieres jugar</h1>
            <p>Que empiece la diversión</p>
        </header>
        
    </section> 

    <div class="cards-container"></div>

</main>
<script src="../JS/_products.js"></script>

