<main class="main-us">
        <div class="container-description">
            <img src="./Img/Nosotros/Nosotros.jpg" alt="" class="container-description__img">
    
            <div class="container-description__subcontainer">
                <h2 class="container-description__subcontainer__tittle">Sobre Jugueteria Comica</h2>
                
                    <div class="container-description__subcontainer__text">
                    <p class="container-description__subcontainer__text__one">
                        Somos la plataforma de comercio eléctronico del Grupo Espacial que reúne en un solo lugar una completa oferta de millones de productos provenientes de Grupo Espacial, Cometa, Cosmos. Junto a productos de emprendimientos y pymes de la mejor calidad.
                    </p>
                    <p class="container-description__subcontainer__text__two">
                    En nuestro marketplace podrás acceder a todos nuestros beneficios como la billetera digital Cpay, apertura online de tarjeta CER, el programa de fidelización de CER Puntos y el uso de la red global de puntos de retiro y devoluciones en todas nuestras tiendas y centros comerciales a lo largo de Latino America.
                    </p>
                </div>
            </div>
        </div>
    
        
        <div class="container-vision">
            <img id="image-vision" src="./Img/Nosotros/Vision.png" alt="" class="container-vision__img">
            
            <div class="container-vision__subcontainer">
                <h2 class="container-vision__subcontainer__tittle">Nuestra visión</h2>
                    
                    <div class="container-vision__subcontainer__text">
                        <p class="container-vision__subcontainer__text__one">
                            Ser el mejor punto de encuentro entre quienes compren y vendan en Jugueteria-Cosmica.com
                            Nuestro ADN emprendedor es el eje de una empresa cuya cultura prioriza la diversidad, la autonomía y la creatividad.
                            <p>
                                Trabajamos para que nuestros colaboradores y equipos se sientan protagonistas de su desarrollo mientras crean una experiencia única, centrada en el usuario.
    
                                Nuestra estructura, dinámica y abierta a los riesgos, crea un ambiente estimulante y plural, que forma grandes líderes y logra atraer a los mejores talentos de Latinoamérica.
                            </p>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="container-purpose">
                <img id="image-proposito" src="./Img/Nosotros/Proposito.jpg" alt="" class="container-purpose__img">
        
                <div class="container-purpose__subcontainer">
                    <h2 class="container-purpose__subcontainer__tittle">Propósito</h2>
                    
                    <div class="container-purpose__subcontainer__text">
                    <p class="container-pupose__subcontainer__text__one">
                        Simplificar y disfrutar más la vida.
                    </p>
                </div>
            </div>
        </div>
            
    <div class="container-interest">

    <div class="container-interest__subcontainer">
        <h2 class="container-interest__subcontainer__tittle">También te podría interesar</h2>
        
            <div class="container-interest__subcontainer__order">
                <div class="container-interest__subcontainer__order__page-work">
                    <img src="./Img/Nosotros/Trabaja.png" alt="" class="container-interest__subcontainer__order__page-work__img">
                    <a href="#" class="container-interest__subcontainer__order__page-work__link">Trabaja en Jugueteria Cosmica</a>
                </div>

                <div class="container-interest__subcontainer__order__page-sell">
                    <img src="./Img/Nosotros/Vende.png" alt="" class="container-interest__subcontainer__order__page-sell__img">
                    <a href="#" class="container-interest__subcontainer__order__page-sell__link">Vende en Jugueteria Cosmica</a>
                </div>
        
                <div class="container-interest__subcontainer__order__page-manual">
                    <img src="./Img/Logo_jugueteria-blanco.png" alt="" class="container-interest__subcontainer__order__page-manual__img">
                    <a href="#" class="container-interest__subcontainer__order__page-manual__link">Manual visual</a>
                </div>
            </div>
        </div>
    </div>
</main>