$marron-opaco:hsla(33, 26%, 30%, 0.5);
$marron:hsl(22, 13%, 36%);
$marron-claro:hsl(32, 17%, 46%);


$azul-oscuro:hsl(210, 100%, 9%);

$azul-oscuro-opaco:hsla(210, 100%, 9%, 0.5);

$azul-claro:hsl(204, 100%, 18%);
$azul-claro-opaco:hsla(204, 100%, 18%,0.5);

$morado: hsl(278, 91%, 64%);

$verde: hsl(73, 53%, 57%);
$verde-opaco: hsla(73, 53%, 57%,0.5);
$verde-oscuro: hsl(73, 90%, 27%);

$tuquesa: hsla(165, 37%, 49%,0.6);
$tuquesa-solido: hsl(165, 37%, 49%);

$naranja-puro: hsl(27, 88%, 56%);
$naranja: hsl(22, 11%, 55%);
$naranja-oscuro: hsl(27, 74%, 55%);
$rojo: hsl(0, 74%, 59%);
$amarillo: hsl(51, 91%, 55%);

$background: white;



//  imagenes //

// $Imgcontacto : url("../../public/Img/Slider/footer.jpeg");




